header {
  display: flex;
  background-color: #00669F;
  color: white;
  padding: 0;
}

.descuento {
  background-color: #1CD1B0;
  padding-left: 10px;

}

h1 {
  padding: 5px;
}

.section-menu {
  background-color: black;
  color: white;
  text-align: end;
  padding: 0;
  height: 30px;
  width: 100%;
}

ul {
  margin: 0;
  padding: 10px;
}

li {
  list-style: none;
  display: inline-flex;
}

.titulo {
  text-align: center;
  background-color: #00669F;
  color: white;
  border-radius: 50px;
}

.container {
  display:grid ;
  justify-content:center;
  align-items: center;
  max-width: 60%;
  left: 50px;
  background-color: #00669F;
  border-radius: 50px;
  color: white;
 }


 .boton-añadir {
  display: flex;
  justify-content: center;
  font-size: 40px;
  width: 300px;
  height: 50px;
  background-color: #1CD1B0;
  color: black;
  border-radius: 23px;

}

footer {
  position: absolute;
  background-color: #00669F;
  color: white;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;

}